{{!-- Re-usable card for linking to posts --}}

<article>
    <a href="{{url}}" class="h-32 bg-gray-800 flex flex-col justify-center text-center font-bold px-4">
        {{title}}
    </a>
</article>
