{{!< default}}

<section class="pt-20">
    <div class="container m-auto px-4 lg:max-w-screen-md">
        <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</section>
