{{!< default}}

<section class="pt-20">
    <div class="container m-auto px-4 lg:max-w-screen-md">
        <nav class="mb-4">
            <ol class="list-none p-0 inline-flex">
                <li class="flex items-center">
                    <a href="/">{{ t "Home" }}</a>
                    {{> "icons/chevron" }}
                </li>
                <li class="flex items-center">
                    <span class="text-gray-400">{{ t "Categories" }}</span>
                </li>
            </ol>
        </nav>

        {{#get "tags" limit="all" include="count.posts" order="name asc" filter="slug:-nofeed"}}
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
            {{> "post-card" title=(t "All posts") class="text-xl"}}
            {{#foreach tags}}
                {{> "post-card" title=name class="text-xl"}}
            {{/foreach}}
        </div>
        {{/get}}
    </div>
</section>
