<!DOCTYPE html>
<html lang="{{@site.lang}}">
{{> "head"}}
<body class="{{body_class}} salespage bg-gray-900 font-sans text-gray-300">

    {{#post}}
    <div class="container mx-auto max-w-screen-md bg-gray-800 shadow-lg p-12 m-12">

        <section id="content" class="my-8">
            {{content}}
        </section>

    </div>
    {{/post}}

</body>
</html>
