{{!< default}}

<section class="pt-20">
	<div class="container m-auto px-4 lg:max-w-screen-md">
        <span>404</span>
        <p>{{ t "Page not found" }}, <a href="/" class="underline">{{ t "click here to return to the home page" }}</a></p>
    </div>
</section>
