{{!< default}}

<section class="text-center">
    <h1 class="text-3xl md:text-5xl max-w-2xl font-medium leading-tight mx-auto">Hacker indépendant</h1>
    <h2 class="text-base md:text-xl">Comprendre. Bidouiller. Détourner. Partager</h2>
    <div class="mt-4">
        <a href="/categories/" class="border rounded-md py-2 px-6 inline-block hover:border-white hover:text-white">{{ t "Read the blog" }}</a>
        <a href="#subscribe" class="border rounded-md ml-2 py-2 px-6 inline-block hover:border-white hover:text-white subscribe">{{ t "Subscribe" }}</a>
    </div>
    <div class="mt-8 px-2 sm:px-0 slider max-w-screen-md mx-auto hidden">
        <div>
            <q class="italic">Article le plus consulté du Courrier du hacker de la semaine. Merci à lui, excellent article !</q>
            <span class="block my-2">Journal du hacker</span>
        </div>
        <div>
            <q>Un blog de grande qualité, avec plein d'idées pour se faire une indépendance numérique.</q>
            <span class="block my-2">Louis-Olivier Brassard</span>
        </div>
        <div>
            <q class="italic">Merci pour votre site que j'ai découvert aujourd'hui, il est excellent, c'est pour moi une mine d'or ! Il va m'apporter beaucoup de bonnes choses, je le sens.</q>
            <span class="block my-2">Anonyme</span>
        </div>
        <div>
            <q class="italic">Il est vraiment cool ton blog, continu !</q>
            <span class="block my-2">Hito</span>
        </div>
        <div>
            <q class="italic">Merci pour ce blog génial que je viens de découvrir, j'adore !</q>
            <span class="block my-2">Anonyme</span>
        </div>
        <div>
            <q class="italic">Ce blog est vraiment génial, merci infiniment.</q>
            <span class="block my-2">Anonyme</span>
        </div>
    </div>
</section>
