{{!< default}}

<section class="text-center">
    {{!--  <h1 class="text-3xl md:text-5xl max-w-2xl font-medium leading-tight inline-block">{{@site.title}}</h1>  --}}
    {{!--  <h2 class="text-base md:text-xl">{{@site.description}}</h2>  --}}
    {{!--  custom  --}}
    <h1 class="text-3xl md:text-5xl max-w-2xl font-medium leading-tight inline-block">Hacker indépendant</h1>
    <h2 class="text-base md:text-xl">Comprendre. Bidouiller. Détourner. Partager</h2>
    {{!--  End custom  --}}
    <div class="mt-4">
        <a href="/categories/" class="border rounded-md py-2 px-6 inline-block hover:border-white hover:text-white">{{ t "Read the blog" }}</a>
        <a href="#subscribe" class="border rounded-md ml-2 py-2 px-6 inline-block hover:border-white hover:text-white subscribe">{{ t "Subscribe" }}</a>
    </div>
</section>
