{{!< default}}

<section class="pt-20">
    <div class="container m-auto grid gap-6 px-6 sm:grid-cols-2 md:grid-cols-3 lg:max-w-screen-md">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</section>
